<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragments/common :: headFragment}"></th:block>
  <link rel="stylesheet" th:href="@{css/style.css}">
  <title>BusyPal</title>
</head>
<body>
<th:block th:replace="~{fragments/common :: header('Sent messages logs', 'logs', 'fa-regular fa-clipboard-list')}"></th:block>

<div class="container">
  <ul class="message-list">
    <th:block th:replace="~{fragments/common :: messageItem('VL', 'Vukasin Lekic', 'Yeah, just an example container for now')}"></th:block>
  </ul>
</div>
</body>
</html>